.check {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid 1px;
    width: 50%;
 
    background-color: #36b55c;
   
    margin-top: 10%;
  }
  .butt{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: orange;
    margin-left: 600px;
  }